<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TecnoShop</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/contact.css" asp-append-version="true" />
    
    <link rel="icon" type="image/x-icon" href="~/icono.png">
    <link rel="stylesheet" href="~/css/listaproducto.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/TecnoShop.styles.css" asp-append-version="true" />
    <!--DataTable-->
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css" asp-append-version="true" />
    <!-- Font Awesome -->
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
          integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" asp-append-version="true" />
    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/datatable.css" asp-append-version="true" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-light fixed-top">
            <div class="container">
                <!-- Boton menu-burger -->
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-toggler" aria-controls="navbar-toggler" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="bi bi-list"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbar-toggler">

                    <a class="navbar-brand text-primary" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi bi-laptop"></i></a>

                    <!-- cuadro de menu desplegable -->
                    <ul class="navbar-nav d-flex justify-content-center align-items-center">
                        <li class="nav-item">
                            <a class="nav-link active text-white item" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white item" asp-area="" asp-controller="About" asp-action="About">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-white item" asp-area="" asp-controller="Contact" asp-action="Contact">Contacto</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white item" asp-area="" asp-controller="Marca" asp-action="Index">Marcas</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white item" asp-area="" asp-controller="Categoria" asp-action="Index">Categorias</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link text-white item" asp-area="" asp-controller="Producto" asp-action="Index">Productos</a>
                        </li>

                    </ul>
                </div>
            </div>
        </nav>

    </header>
    <div class="container-fluid px-0">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!-- footer -->
    <footer class="footer-07">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12 text-center">
                    <h2 class="footer-heading"><a href="#" class="logo">TecnoShop.com</a></h2>
                    <p class="menu">
                        <a asp-controller="Home" asp-action="Index">Inicio</a>
                        <a href="#">Servicios</a>
                        <a asp-controller="About" asp-action="About">Nosotros</a>
                        <a asp-controller="Producto" asp-action="ListaProducto">Productos</a>
                        <a href="#">Blog</a>
                        <a asp-controller="Contact" asp-action="Contact">Contáctanos</a>
                    </p>
                    <ul class="ftco-footer-social ulfooter p-0">
                        <li class="ftco-animate lifooter"><a  href="#" data-toggle="tooltip" data-placement="top" title="Twitter" class="enlace"><i class="bi bi-whatsapp"></i></a></li>
                        <li class="ftco-animate lifooter"><a href="#" data-toggle="tooltip" data-placement="top" title="Facebook" class="enlace"><i class="bi bi-facebook"></i></a></li>
                        <li class="ftco-animate lifooter"><a href="#" data-toggle="tooltip" data-placement="top" title="Instagram" class="enlace"><i class="bi bi-instagram"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-md-12 text-center">
                    <p class="copyright">
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | coded <i class="ion-ios-heart" aria-hidden="true"></i> by <a href="https://github.com/ywilfredo" target="_blank" class="brand-footer">ywilfredo</a>
                        <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    </p>
                </div>
            </div>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--para tener mensajes de alerta elegantes-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <!--Jquery-->
    <script src="~/lib/jquery/dist/jquery.min.js" asp-append-version="true"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" asp-append-version="true"></script>
    <!--DataTAble-->
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js" asp-append-version="true"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js" asp-append-version="true"></script>
    <!-- Custom JS -->
    <script src="~/js/main.js" asp-append-version="true"></script>

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
