@model ListaMarcaViewModel;

<dt class="col-sm-2">
    @Html.DisplayNameFor(model => model.Marcas)
</dt>
<dd class="col-sm-10">
    <table class="table">
        <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
        </tr>
        @foreach (var item in Model.Marcas)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
            </tr>
        }
    </table>
</dd>