@model Categoria
<section class="container seccion">
    <form asp-action="CrearCategoria" method="post" role="form">
        <h3 class="my-5">
            Agregar nueva categoría para sus productos.
        </h3>

        <div asp-validation-summary="All" class="text-danger"></div>

        <div class="col-6">
            <div class="row g-2">
                <div class="col-12">
                    <label asp-for="Nombre" class="form-label"></label>
                    <input asp-for="Nombre" class="form-control" />
                    <span asp-validation-for="Nombre" class="text-danger"></span>
                </div>

                <div class="col-12">
                    <label asp-for="Descripcion" class="form-label"></label>
                    <input asp-for="Descripcion" class="form-control" />
                    <span asp-validation-for="Descripcion" class="text-danger"></span>
                </div>


                <div class="mt-2">
                    <div class="col-md-offset-2 col-md-5">
                        <input type="submit" class="btn btn-secondary" value="Crear Categoria" />
                    </div>
                </div>
            </div>

        </div>
    </form>
</section>