@model TecnoShop.Models.Categoria

@{
    ViewData["Title"] = "Detalle";
}

<section class="container seccion">
    <h1>Detalle</h1>

    <div>
        <h4>Categoria</h4>
        <hr />
        <dl class="row">
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Nombre)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Nombre)
            </dd>
            <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Descripcion)
            </dt>
            <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Descripcion)
            </dd>
        </dl>
    </div>
    <div>
        <div class="form-group mt-5">
            <a asp-action="EditarCategoria" asp-route-id="@Model?.CategoriaId" class="btn btn-primary">Editar</a>
            <a asp-action="Index" class="btn btn-secondary"> Atrás</a>
        </div>
    </div>
</section>
